<div layout-padding>


    <md-content >
        <div layout="row" flex>

            <span flex></span>
            <span>
                <md-button  layout="row" ui-sref="main.newTerm">

            Create

        </md-button>
            </span>
        </div>
        <div flex layout="row">
            <div flex="20">
                <h3>Term</h3>
            </div>
            <div flex>
                <h4>Description</h4>
            </div>

            <div flex="10">

            </div>
        </div>
        <div flex layout="row" class="list-item" ng-repeat="term in terms">
            <div layout="row" flex="20">
                <b flex>{{term.title}}</b>
            </div>
            <div flex layout="column" >
              <div ng-repeat="definition in term.definitions.data track by $index">
                 <p>
                     <span ng-if="term.definitions.data.length > 1">
                         {{$index +1}}.
                     </span> {{definition.definition}}
                 </p>
              </div>
            </div>
            <div flex="10">
                <a ui-sref="main.editTerm({id:term.secureId})"><ng-md-icon style="fill: #222;"  size="15" icon="edit"></ng-md-icon></a>
                <a ng-click="deleteTerm(term)" ><ng-md-icon style="fill: #222;" size="15" icon="delete"></ng-md-icon</a>
            </div>
        </div>
        <div flex class="pagination-area">
            <div>
                Total: {{terms.length}}
            </div>
        </div>

    </md-content>
</div>