<div   layout="column" layout-fill class="white-bg">

    <md-toolbar  >
        <div class="md-toolbar-tools white-bg black">
            <a ui-sref="main.home"> Your Online Law Library</a>


            <span flex></span>
            <md-button aria-label="Login" ui-sref="main.login">
                Login
            </md-button>
            <md-button aria-label="Signin" ui-sref="main.signup">
                Sign in
            </md-button>

        </div>
    </md-toolbar>

    <br>


    <div  style="margin:auto;"  layout-wrap flex-lg="55" layout="center center">
        <ui-view style="width: 100%;"></ui-view>
        <md-toolbar class="white-bg black" layout-align="center center" layout="row" >
            footer
        </md-toolbar>

    </div>









</div>