<div  layout="column" layout-fill>

    <section layout="row" flex>
        <div class="gray-bg" ng-if="hasSidebar" ng-include="'app/src/views/shared/main_sidebar/mainSidebar.html'"></div>
        <md-content  flex >
            <div ng-if="hasHeader" ng-include="'app/src/views/shared/header/mainHeader.html'"></div>

            <main>
                <ui-view layout="column"></ui-view>
            </main>


        </md-content>



    </section>

    <div ng-if="hasFooter"  ng-include="'app/src/views/shared/footer/footer.html'"></div>

</div>
