<md-sidenav
        md-disable-backdrop
        class="md-sidenav-left"
        md-component-id="left"
        md-is-locked-open="lockedLeft"
        >

    <md-toolbar style="background: #fff" class="font-black  white-bg">
        <h3 class="md-toolbar-tools">Lawsasa</h3>
    </md-toolbar>
    <md-content layout-padding >
        <md-list>
            <md-list-item ng-repeat="item in menu">
                <a ui-sref="{{::item.link}}" ui-sref-active="active">
                    {{::item.title}}
                </a>
            </md-list-item>
        </md-list>
    </md-content>

</md-sidenav>