<!-- TODO: work on login logic -->
<div class="login-page">
  <div  layout="row" flex     layout-align="center center" class="login_page_wrapper">
      <md-card flex-lg flex-sm="100" flex-xs="100" layout-padding>
          <div layout="row" flex   layout-align="center center" >
            <div class="login_heading">
                      <div class="user_avatar"></div>
                  </div>
          </div>
          <div class="error" ng-if="error">

                Invalid Email or Password
            </div>
          <form name="userForm">
              <md-input-container class="md-block" flex-gt-sm>
                  <label>Email</label>
                  <input ng-model="loginData.email" type="email">
              </md-input-container>

              <md-input-container class="md-block" flex-gt-sm>
                  <label>Password</label>
                  <input type="password" ng-model="loginData.password">
              </md-input-container>

              <div layout="row" flex   layout-align="center center">
                  <md-button ng-click="doLogin()" flex="20" class="md-raised md-primary">Login</md-button>
              </div>


          </form>
      </md-card>
  </div>

</div>
