<md-toolbar class="white-bg main-header">
    <div class="md-toolbar-tools white-bg font-black ">
        <md-button hide-lg hide-md class="md-icon-button" aria-label="Settings" ng-click="toggleSidenav('left')" aria-label="Menu">
            <ng-md-icon icon="menu"></ng-md-icon>
        </md-button>

      <span flex></span>
        <div flex="10" layout="row" layout-align="end start">
            <md-button flex layout="row" class="md-icon-button" aria-label="Favorite">
                <span>
                    Sign in
                </span>
                <ng-md-icon icon="person"></ng-md-icon>
            </md-button>

        </div>


    </div>
</md-toolbar>